@model finalproject.Models.Tbl_admin

@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



@if (Session["Admin_id"] != null && Session["Admin_email"] != null)
{
    <h3> Welcome  @Html.DisplayFor(model => model.Admin_name)</h3>

}
<br />
<div style="width:400px;display:inline-block;text-align:center">

    <h5>Total Books are:</h5>
    <div>
        <i class="fa fa-desktop" aria-hidden="true" style="font-size:70px"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <strong style="font-size:70px">
            @ViewBag.totalbooks
        </strong>

    </div>
    <br />


    <h5>Total EBooks are:</h5>
    <div>
        <i class="fa fa-book" aria-hidden="true" style="font-size:70px"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <strong style="font-size:70px">@ViewBag.totalebooks</strong>


    </div>

</div>
<div style="display:inline-block;width:400px;text-align:center">


    <h5>Total Members are:</h5>
    <div style="display:inline">
        <i class="fa fa-users" aria-hidden="true" style="font-size:70px"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <strong style="font-size:70px">
            @ViewBag.totalmembers
        </strong>
    </div>
    <br />

    <br />

    <h5>Total Vendors are:</h5>
    <div style="display:inline">
        <i class="fa fa-id-badge" aria-hidden="true" style="font-size:70px"></i>   &nbsp;&nbsp;&nbsp;&nbsp;
        <strong style="font-size:70px">
            @ViewBag.totalvendors
        </strong>
    </div>

</div>
