@model finalproject.Models.Tbl_admin

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_name)
        </dd>

        <dt>
          Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Admin_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_password)
        </dd>*@

        <dt>
          Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_contact)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Admin_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_status)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a class="btn btn-info" href="@Url.Action("Index")">Back to List</a>

        <input type="submit" value="Delete" class="btn btn-danger" />


    </div>
    }
</div>
