@model finalproject.Models.Tbl_admin

@{
    ViewBag.Title = "PersonalInfoAdmin";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}



@if (Session["Admin_id"] != null && Session["Admin_email"] != null)
{
    <h3> Welcome  @Html.DisplayFor(model => model.Admin_name)</h3>

}

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Admin Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_name)
        </dd>

        <dt>
            Admin email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_email)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Admin_password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Admin_password)
            </dd>*@

        <dt>
            Admin contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_contact)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Admin_status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Admin_status)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Admin_id })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

