@model finalproject.Models.tbl_member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mem_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mem_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mem_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mem_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mem_contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mem_contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mem_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mem_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mem_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
