@model finalproject.Models.tbl_member

@{
    ViewBag.Title = "DetailsPublic";
}

<h1>    @Html.DisplayNameFor(model => model.mem_name)   @Html.DisplayFor(model => model.mem_name)</h1>

<h1>
    @Html.DisplayNameFor(model => model.mem_email)

@Html.DisplayFor(model => model.mem_email)
</h1>
<h1>
    @Html.DisplayNameFor(model => model.mem_contact)

@Html.DisplayFor(model => model.mem_contact)
</h1>




