@model finalproject.Models.tbl_member

@{
    ViewBag.Title = "DetailsPublic";
}


<h3>General Information</h3>
<h4>     @Html.DisplayFor(model => model.mem_name)</h4>

<h4>
    @Html.DisplayNameFor(model => model.mem_email)

    @Html.DisplayFor(model => model.mem_email)
</h4>
<h4>
    @Html.DisplayNameFor(model => model.mem_contact)

    @Html.DisplayFor(model => model.mem_contact)
</h4>
<br />
<h1> @Html.DisplayFor(model => model.mem_name)'s Readings</h1>
<div id="tableContiner">


    @{Html.RenderAction("PublicRecentReading", "Tbl_member");}

</div>
<div id="tableContiner">


    @{Html.RenderAction("WhoTheyFollow", "Tbl_member");}

</div>




