@model IEnumerable<finalproject.Models.tbl_member>

@{
    ViewBag.Title = "Index";
}

<h2>All Members</h2>

<a class="btn btn-info btn-lg" href="@Url.Action("Create")">Add Admin</a>
<br />
<br />
<table class="table table-striped table-responsive">

    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Contact
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.mem_password)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mem_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mem_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mem_contact)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.mem_password)
                </td>*@
            <td>
                <a class="btn btn-success btn-sm" href="@Url.Action("Edit", new { id = item.mem_id })">Edit</a>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.mem_id})">Delete</a>


                <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = item.mem_id })">Details</a>


            </td>
        </tr>
    }

</table>
