@model IEnumerable<finalproject.Models.Reading_History>

@{
    ViewBag.Title = "UserPanel";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@if (Session["mem_id"] != null && Session["mem_email"] != null)
{
    <h3> Welcome @Session["mem_email"].ToString() To Member Panel</h3>

}

<h1>Best seller book</h1>
    <div id="tableContiner">
        @{
            Html.RenderAction("BestSeller","Tbl_member");
        }
    </div>



<h1>Recent Readings</h1>

    <div class="row" style="margin-bottom: 100%;">

        <div class="row">



            @foreach (var item in Model)
            {
            <div class="col-lg-4 col-md-4" style="height:200px;margin-bottom:100px ">

                <img class="img-rounded img-responsive cimg" style="height:100%; width:100%; " src="@Url.Content(item.Ebooks_db.Ebook_img)" />



                <label >Name </label>

                @item.Ebooks_db.Ebook_name

                <br />


                <label>Publisher</label>
                @item.Ebooks_db.Ebook_publisher
                <br />


                <label >Author</label>

                @item.Ebooks_db.Ebook_author

                <br />
                <label >
                    Category
                </label>
                @item.Ebooks_db.Book_categoryy.cat_name

                <br />


                <label>Edition</label>
                @item.Ebooks_db.Ebook_edition
                <br />
                
                
                <label>Date Time&nbsp;</label>
                @item.Read_Date
                <br />
            
                <p style="text-align: center; "><a class="btn btn-success btn-lg" href="@item.Ebooks_db.Ebook_pdffile" target="_blank"> <span class="glyphicon glyphicon-book" /> Continue Reading</a></p>

            </div>
                    }
                </div>


            </div>






























        @*<div class="container">
            <div class="row">

                @if (item.Ebooks_db.Ebook_img != null)
                {
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img style="width:250px ; height:350px ;" src="@Url.Content(item.Ebooks_db.Ebook_img)" />

                    </div>
                }




                <div class="col-lg-12 ">
                    <table class="table-bordered">

                        <tr>

                            <td>Name</td>
                            <td>@item.Ebooks_db.Ebook_name</td>


                        </tr>
                        <tr>
                            <td>Publisher</td>
                            <td>@item.Ebooks_db.Ebook_publisher</td>



                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>@item.Ebooks_db.Ebook_author</td>



                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>@item.Ebooks_db.Book_categoryy.cat_name</td>


                        </tr>
                        <tr>
                            <td>Edition</td>
                            <td>@item.Ebooks_db.Ebook_edition</td>


                        </tr>

                        <tr>
                            <td>Date Time&nbsp;</td>
                            <td>@item.Read_Date</td>


                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center">
                                <a href="@item.Ebooks_db.Ebook_pdffile" target="_blank">EBook</a>

                                <br />
                            </td>
                        </tr>




                    </table>



                </div>

            </div>
        </div>*@
       