@model IEnumerable<finalproject.Models.tbl_follow>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.follow_time)
            </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.tbl_member.mem_name)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.tbl_member1.mem_name)*@
            Follows
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.follow_time)
                </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.tbl_member.mem_name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.tbl_member1.mem_name)
            </td>

        </tr>
    }




</table>
