@model finalproject.Models.Tbl_Books
@{
    ViewBag.Title = "addtocart";
}

<h2>Add to Cart</h2>
@using (@Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">


                <img style="min-height:400px;width:300px;" src="@Url.Content(Model.Book_img)" />

            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Title: @Model.Book_name</h1>
                <h2>Price: @Model.Book_price</h2>
                <h3>Author: @Model.auth_id</h3>
                <br />
                <input type="number" name="qty" value="1" id="qty" min="1" max="10"
                       style="border:none; border-bottom: 2px solid black" />

                &nbsp;&nbsp;&nbsp;
                <input type="submit" value="Add to Cart " class="btn btn-primary" />



            </div>

        </div>
    </div>





}


