@model finalproject.Models.BTransaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>BTransaction</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Transaction_id)
     @*
    <div class="form-group">
        <label>Total Bill</label>   <br />
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction_bill, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction_bill, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Quantity</label> <br />
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction_qty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction_qty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>order date</label> <br />
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Price</label> <br />
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction_price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Book</label> <br />
            <div class="col-md-10">
                @Html.DropDownList("Book_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Book_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Invoice</label> <br />
            <div class="col-md-10">
                @Html.DropDownList("in_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.in_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Member</label> <br />
            <div class="col-md-10">
                @Html.DropDownList("mem_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mem_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label>Status</label> <br />
            <div class="col-md-10">
                @Html.EditorFor(model => model.transaction_status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.transaction_status, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

</div>


}


    </div>

    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
