@model IEnumerable<finalproject.Models.BTransaction>

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_bill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Books.Book_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice.in_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_member.mem_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Books.Book_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.in_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_member.mem_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Transaction_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Transaction_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Transaction_id })
        </td>
    </tr>
}

</table>
