@model IEnumerable<finalproject.Models.tbl_blog>


<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            <div style="font-size:24px">
                Title:
                <strong>
                    @Html.DisplayFor(modelItem => item.blog_title)
                </strong>
            </div>
            <img style="width:1150px;height:300px;" src="@Url.Content(item.blog_img)" />

            @*@Html.DisplayFor(modelItem => item.blog_img)*@
            <h4>Published On and Created by:</h4>
            <strong>
                @Html.DisplayFor(modelItem => item.blog_datetime)
                &nbsp;&nbsp;&nbsp;
                @Html.DisplayFor(modelItem => item.tbl_member.mem_name).ToString().ToUpper()
            </strong>
            @*@Html.ActionLink("Read Blog", "Details", new { id = item.blog_id })*@

            <a class="btn btn-success btn-md" style="float:right" href="@Url.Action("Details", new { id = item.blog_id }) ">Read Blog</a>






        </td>

        
    </tr>
}

</table>
