@model finalproject.Models.tbl_blog

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "tbl_blog", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.blog_datetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.blog_datetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.blog_datetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.blog_groupid, "blog_groupid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("blog_groupid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.blog_groupid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.blog_createdby, "blog_createdby", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("blog_createdby", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.blog_createdby, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            &nbsp;&nbsp;&nbsp;  <label>Blog Image:</label>
            <br />
            @*@Html.LabelFor(model => model.blog_img, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.blog_img, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="file" name="imagefile" id="imagefile" required="required" class="form-control" /> <br />
                @Html.ValidationMessageFor(model => model.blog_img, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            &nbsp;&nbsp;&nbsp; <label>Blog Title:</label> <br />
            @*@Html.LabelFor(model => model.blog_title, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.blog_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.blog_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            &nbsp;&nbsp;&nbsp; <label>Content:</label><br />
            @*@Html.LabelFor(model => model.blog_body, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">

                @Html.TextAreaFor(model => model.blog_body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.blog_body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
