@model finalproject.Models.tbl_blog

@{
    ViewBag.Title = "Details";
}

<h1> @Html.DisplayFor(model => model.blog_title)</h1>

<img style="width:1150px;height:300px;border: 2px solid black" src="@Url.Content(Model.blog_img)" />
<br />
<br />
<h3>Published By: <strong>@Html.DisplayFor(model => model.tbl_member.mem_name)</strong></h3>
<br />
@*<p>  @Html.DisplayFor(model => model.blog_body)</p>*@

 @Html.Raw(Model.blog_body)

