@model finalproject.Models.tbl_blog

@{
    ViewBag.Title = "Details";
}

<h1> @Html.DisplayFor(model => model.blog_title)</h1>

<img style="width:1150px;height:300px;border: 2px solid black" src="@Url.Content(Model.blog_img)" />
<br />
<br />
<h3>Published By: <strong>@Html.DisplayFor(model => model.tbl_member.mem_name)</strong></h3> 
<br />
<p>  @Html.DisplayFor(model => model.blog_body)</p>

@*<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blog_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_datetime.Hour)
        Html.DisplayFor(model => model.blog_datetime.AddHours(double))

        @Model.blog_datetime.ToString(@"hh\mm")

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_group.group_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_group.group_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_member.mem_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_member.mem_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.blog_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
