@model finalproject.Models.Tbl_Vendorr

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <a class="btn btn-info btn-sm" href="@Url.Action("Index")">Back to List</a>

    <hr />
    <dl class="dl-horizontal">
        <dt >
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_name)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_email)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Vendor_password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vendor_password)
            </dd>*@

        <dt>
            Contact No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_contactno)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Vendor_status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vendor_status)
            </dd>*@

        <dt>
            Shop Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_ShopAdr)
        </dd>

        <dt>
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_admin.Admin_name)
        </dd>

    </dl>
</div>
<p>


    <a class="btn btn-success btn-sm" href="@Url.Action("Edit", new { id = Model.Vendor_id})">Update Profile</a>



</p>
