@model IEnumerable<finalproject.Models.Tbl_Vendorr>

@{
    ViewBag.Title = "Index";
}

<h2>All Vendors</h2>

<a class="btn btn-info btn-lg" href="@Url.Action("Create")">Add Vendor</a>
<br />
<br />
<table  class="table table-striped table-responsive">
    <tr>
        <th>
            Name
        </th>
        <th>
           Email
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Vendor_password)
        </th>*@
        <th>
           Contact No
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Vendor_status)
        </th>*@
        <th>
           Shop Address
        </th>
        <th>
          Created By
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor_email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Vendor_password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Vendor_contactno)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Vendor_status)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Vendor_ShopAdr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_admin.Admin_name)
            </td>
            <td>

                <a class="btn btn-success btn-sm" href="@Url.Action("Edit", new { id = item.Vendor_id })">Edit</a>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Vendor_id })">Delete</a>


                <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = item.Vendor_id })">Details</a>
               
            </td>
        </tr>
    }

</table>
