@model finalproject.Models.Tbl_Vendorr

@{
    ViewBag.Title = "VendorPanel";
}


@if (Session["Vendor_id"] != null && Session["Vendor_email"] != null)
{
<h3> Welcome   @Html.DisplayFor(model => model.Vendor_name) To Vendor Panel</h3>




<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_name)
        </dd>

        <dt>
          Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_email)
        </dd>

        @*<dt>
           Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_password)
        </dd>*@

        <dt>
           Contact No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_contactno)
        </dd>

        <dt>
            Vendor Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_status)
        </dd>

        <dt>
        Shop Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_ShopAdr)
        </dd>

        <dt>
           Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_admin.Admin_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vendor_id }) 
 
</p>
}
else
{
    <h1>Please Login to view this page</h1>
}