@model finalproject.Models.Tbl_for_books
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Tbl_Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
{




<div class="container" style="border:inset dotted black">
    <div class="form-horizontal">
        <label class="control-label col-sm-2" for="email">Authour</label>

        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.auth_id, ViewBag.authlist as SelectList, "--Select--", new { @class = "form-control" })

        </div>
        <div style="color:red">
            @Html.ValidationMessageFor(x => x.auth_name)



        </div>





        <div class="form-horizontal">
            <label class="control-label col-sm-2" for="email">Category</label>

            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.cat_id, ViewBag.catlist as SelectList, "--Select--", new { @class = "form-control" })

            </div>
            <div style="color:red">
                @Html.ValidationMessageFor(x => x.cat_name)



            </div>

        </div>

        <div class="form-horizontal">
            <label class="control-label col-sm-2" for="email">Publisher</label>

            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.pub_id, ViewBag.publist as SelectList, "--Select--", new { @class = "form-control" })

            </div>
            <div style="color:red">
                @Html.ValidationMessageFor(x => x.pub_name)



            </div>

        </div>
        <div class="form-horizontal">
            <label class="control-label col-sm-2" for="email">Vendor</label>

            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.Vendor_id, ViewBag.venlist as SelectList, "--Select--", new { @class = "form-control" })

            </div>
            <div style="color:red">
                @Html.ValidationMessageFor(x => x.Vendor_name)



            </div>


        </div>


        <div class="form-horizontal">
            <label class="control-label col-sm-2" for="email">Book Name</label>
            @Html.TextBoxFor(x => x.Book_name, new { @class = "form-control" })
            <div class="col-sm-10">


            </div>
            <div style="color:red">
                @Html.ValidationMessageFor(x => x.Book_name)



            </div>

        </div>
        <div class="form-horizontal">
            <label class="control-label col-sm-2" for="email">Book Edition</label>
            @Html.TextBoxFor(x => x.Book_Edition, new { @class = "form-control" })
            <div class="col-sm-10">


            </div>
            <div style="color:red">
                @Html.ValidationMessageFor(x => x.Book_Edition)



            </div>

        </div>

        <div class="form-horizontal">
            <label class="control-label col-sm-2" for="email">Book Price</label>
            @Html.TextBoxFor(x => x.Book_price, new { @class = "form-control" })
            <div class="col-sm-10">


            </div>
            <div style="color:red">
                @Html.ValidationMessageFor(x => x.Book_price)



            </div>

        </div>
        <div class="form-horizontal">
            <label class="control-label col-sm-2" for="email">Upload Image</label>
            <div class="col-sm-10">
                <input type="file" name="imagefile" id="imagefile" required="required" class="form-control" />

            </div>


        </div>
        <div class="form-horizontal">
            <div class="col-sm-12">
                <input type="submit" value="Add" class="btn btn-success" />

            </div>


        </div>


    </div>


    </div>

   

}
