
@model finalproject.Models.Book_Review

@if (Session["Admin_id"] != null && Session["Admin_email"] != null)
{
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";

}
else
{
    ViewBag.Title = "Details";
}

<style>
    tr {
        padding: 200px;
        font-size: 15px;
    }
</style>

<script>
    $(function () {

        $("#rateYo").rateYo({
            rating: 0,
            numStars: 5,
            maxValue: 5,
            halfStar: true,
            onChange: function (rating, rateYoInstance) {
                $('#rating').val(rating);
            }
        });
    });
</script>

<h2>Details</h2>

<div>

    <div class="container">
        <div class="row">

            @if (ViewBag.book.Book_img != null)
            {
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img style="width:250px ; height:350px ;" src="@Url.Content(ViewBag.book.Book_img)" />

                </div>
            }




            <div class="col-lg-12 ">
                <table class="table-bordered">

                    <tr>

                        <td>Name</td>
                        <td>@ViewBag.book.Book_name</td>


                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>@ViewBag.book.auth_id</td>



                    </tr>
                    <tr>
                        <td>Edition</td>
                        <td>@ViewBag.book.Book_Edition</td>


                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>@ViewBag.book.Book_price</td>


                    </tr>
                    <tr>
                        <td>Vendor Name&nbsp;</td>
                        <td>@ViewBag.book.Vendor_id</td>


                    </tr>
                </table>



            </div>



        </div>
        <h3>Rating and Comments</h3>
        <table border="1" cellpadding="2" cellspacing="2">
            @{ int i = 1;}
            @foreach (var review in ViewBag.book.Book_Review)
            {
                <tr>
                    <td style="padding-left: 20px;">
                        <b>Name:</b>
                        <br />
                        @review.tbl_member.mem_email
                        <br />
                        <b>Rated:</b>
                        <script>
                        $(function () {

                            $('#@("rating" + i)').rateYo({
                                rating:  @review.Rating,
                                readOnly: true

                            });
                        });
                        </script>

                        <div id="@("rating" + i)"></div>
                        <b>Comments:</b>
                        <br /> @review.ContentC
                    </td>
                </tr>
                i++;
            }





        </table>
        @if (Session["mem_email"] == null)
        {
            <a href="@Url.Action("Login","Tbl_member")">
                Login to post comments and rating
            </a>

        }
        else
        {


            using (Html.BeginForm("SendReview", "Tbl_Book", FormMethod.Post))
            {
                <table cellpadding="2" cellspacing="2">

                    <tr>
                        <td valign="top">Rating</td>
                        <td>
                            <div id="rateYo"></div>

                            <input type="hidden" id="rating" name="rating" />
                        </td>
                    </tr>



                    <tr>
                        <td valign="top">Comments</td>
                        <td>@Html.TextAreaFor(model => model.ContentC, new { cols = 20, rows = 5 })</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="submit" value="Send" />
                            @Html.HiddenFor(model => model.BookId)



                        </td>
                    </tr>



                </table>

            }
        }





    </div>







</div>
