@model finalproject.Models.Tbl_Books
@if (Session["Admin_id"] != null && Session["Admin_email"] != null)
{
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";

}
else
{
    ViewBag.Title = "Edit";
}

<h2>Update Book</h2>

@using (Html.BeginForm("Edit", "Tbl_Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Book_id)

    <div class="form-group">
        <label class="control-label col-md-2">Book Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Book Edition</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_Edition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Edition, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Book Price</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_price, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        <label class="control-label col-md-2">Book Image</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_img, new { htmlAttributes = new { @class = "form-control" } })
            <img src="@Url.Content(Session["imgPath"].ToString())" height="100" width="100" />
            <input type="file" id="file" name="file" />


            @Html.ValidationMessageFor(model => model.Book_img, "", new { @class = "text-danger" })
        </div>*@
    <div class="form-group">
        <label class="control-label col-md-2" for="email">Upload Image</label>
        <div class="col-md-10">
            <input type="file" name="imagefile" id="imagefile" class="form-control" />

        </div>


    </div>


    <div class="form-group">
        <label class="control-label col-md-2">Book Author</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.auth_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.auth_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Book Publisher</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.pub_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pub_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Book Category</label>
        <div class="col-md-10">
            @Html.DropDownList("cat_id", ViewBag.catlist as SelectList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.cat_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Book Vendor</label>
        <div class="col-md-10">
            @Html.DropDownList("Vendor_id", ViewBag.venlist as SelectList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Vendor_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumb">
            <img class="img-thumbnail img-fluid" id="productImage" src="@Url.Content(Model.Book_img)" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
