
@model IEnumerable<finalproject.Models.Tbl_Books>
@if (Session["Admin_id"] != null && Session["Admin_email"] != null)
{
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";

}
else
{
    ViewBag.Title = "Searching";
}


<h2>Book Library</h2>

<nav class="navbar navbar-light bg-light">
    @using (Html.BeginForm("Searching", "Tbl_Book", FormMethod.Get))
    {@Html.TextBox("search") <input class="btn-primary" type="submit" value="Search" />
    <br /> <br />
    <b>Search By</b>
    @Html.RadioButton("searchBy", "Book_name") <text>Name</text>
    @Html.RadioButton("searchBy", "cat_name") <text>Category</text>
    @Html.RadioButton("searchBy", "pub_name") <text>Publisher</text>


}


</nav>


<table class="table table-striped table-responsive">

    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Edition</th>
            <th>Price</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Vendor</th>

        </tr>





    </thead>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8">No Book Found</td>
        </tr>
    }
    else
    {

        <tbody>
            @if (Model != null)
            {

                foreach (var item in Model)

                {
                    <tr>

                        <td><img style="width:50px;height:50px;" src="@Url.Content(item.Book_img)" /></td>
                        <td>@item.Book_name</td>
                        <td>@item.Book_Edition</td>
                        <td>@item.Book_price</td>
                        <td>@item.auth_id</td>
                        <td>@item.pub_id</td>
                        <td>@item.Book_categoryy.cat_name</td>
                        <td>@item.Tbl_Vendorr.Vendor_name</td>
                        <td>






                            <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = item.Book_id })">Details</a>

                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">No Result Found...</td>
                </tr>
            }




        </tbody>

    }





</table>
