@model finalproject.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.in_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_totalbill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_totalbill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_member.mem_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_member.mem_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.in_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
