@model finalproject.Models.Book_author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <a class="btn btn-info btn-sm" href="@Url.Action("Index")">Back to List</a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auth_name)
        </dd>

        <dt>
            Author Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auth_email)
        </dd>

        <dt>
            Author Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auth_contact)
        </dd>

    </dl>
</div>
<p>

    <a class="btn btn-success btn-sm" href="@Url.Action("Edit", new { id = Model.auth_id})">Update Profile</a>


</p>
