@model IEnumerable<finalproject.Models.Book_author>

@{
    ViewBag.Title = "Index";
}

<h2>All Authors</h2>

<a class="btn btn-info btn-lg" href="@Url.Action("Create")">Add Author</a>
<br />
<br />
<table class="table table-striped table-responsive">
    <tr>
        <th>
           Name
        </th>
        <th>
           Email
        </th>
        <th>
          Contact
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.auth_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auth_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auth_contact)
            </td>
            <td>
   

                <a class="btn btn-success btn-sm" href="@Url.Action("Edit", new { id = item.auth_id })">Edit</a>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.auth_id })">Delete</a>


                <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = item.auth_id })">Details</a>

            </td>
        </tr>
    }

</table>
