@model IEnumerable<finalproject.Models.Book_author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.auth_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.auth_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.auth_contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.auth_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.auth_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.auth_contact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.auth_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.auth_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.auth_id })
        </td>
    </tr>
}

</table>
