@model finalproject.Models.tbl_group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.ActionLink("Create a post", "Create","tbl_blog", new { id = Model.group_id },null)

<br />

<div id="tableContiner">


    @{Html.RenderAction("Allblogsofgroup", "tbl_blog");}

</div>



@*<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.group_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_member.mem_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_member.mem_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.group_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
